<div class="relative w-full">
  <a routerLink="/articles" class="absolute top-0 left-0">
    <img src="../../../assets/backArrow.svg" alt="backArrow">
  </a>
  <div class="mx-auto w-3/4">
    <h1 class="!font-bold !text-2xl">{{ article.title }}</h1>
    <div class="!mt-8 flex space-x-10">
      <span>{{ article.createdAt | date }}</span>
      <span>{{ article.userUsername }}</span>
      <span>{{ theme.title }}</span>
    </div>
    <p class="!mt-8">{{ article.content }}</p>
    <div class="!mt-8 w-full h-px bg-black "></div>
    <span class="!mt-8 block">Commentaires</span>
    <div *ngFor="let comment of comments" class="!mt-8 !ml-8 flex items-start space-x-4">
      <span class="block !mt-3">{{ comment.userUsername }}</span>
      <p class="bg-gray rounded-md p-3">{{ comment.content }}</p>
    </div>
    <form #commentForm="ngForm" (ngSubmit)="onSubmitComment(commentForm)" class="!mt-8 flex space-x-8">
      <textarea name="commentContent" [(ngModel)]="commentContent" class="w-full" rows="4" placeholder="Écrivez ici votre commentaire"></textarea>
      <button type="submit">
        <img src="../../../assets/send.svg" alt="send">
      </button>
    </form>
  </div>
</div>
