<div>
  <nav *ngIf="router.url !== '/'" [ngClass]="{'border-transparent': (screenWidth < 768 && isLoginPage())}" class="fixed z-10 w-full flex justify-between items-center py-4 px-8 border-b border-black bg-white">
    <a *ngIf="screenWidth >= 768 || !isLoginPage()" routerLink="" class="w-24 md:w-32">
      <img src="../../../assets/logo_p6.png" alt="logo_p6" class="object-contain">
    </a>
    <a *ngIf="screenWidth < 768 && isLoginPage()" routerLink="" class="w-16">
      <img src="../../../assets/backArrow.svg" alt="back arrow" class="object-contain">
    </a>
    <div *ngIf="router.url !== '/' && !isLoginPage()" class="hidden md:flex items-center space-x-10">
      <div class="flex space-x-6 text-xl">
        <a routerLink="articles" routerLinkActive="text-violet-light">Articles</a>
        <a routerLink="themes" routerLinkActive="text-violet-light">Thèmes</a>
      </div>
      <a routerLink="profile" routerLinkActive="border-2 border-violet rounded-full">
        <img src="../../../assets/user.svg" alt="user icon">
      </a>
    </div>
    <button *ngIf="router.url !== '/' && !isLoginPage()" type="button" (click)="toggleSidenav()" class="z-50 md:hidden">
      <img src="../../../assets/hamburger_menu.svg" alt="menu icon">
    </button>
    <div class="fixed top-0 left-full bg-gray/50 w-screen h-screen transition md:hidden" [ngClass]="{'-translate-x-full': isSidenavOpen}">
      <div class="w-2/3 h-full bg-white pt-20 pb-4 pr-4 absolute top-0 right-0 flex flex-col items-end text-xl z-10">
        <a routerLink="articles" routerLinkActive="text-violet-light" (click)="closeSidenav()">Articles</a>
        <a routerLink="themes" routerLinkActive="text-violet-light" (click)="closeSidenav()" class="mt-6">Thèmes</a>
        <a routerLink="profile" routerLinkActive="border-2 border-violet rounded-full" (click)="closeSidenav()" class="absolute bottom-4 right-4">
          <img src="../../../assets/user.svg" alt="user icon">
        </a>
      </div>
    </div>
  </nav>
  <main [ngClass]="{'pt-24 md:pt-36': router.url !== '/'}"  class="px-5 pb-5 md:px-8 md:pb-8">
    <router-outlet></router-outlet>
  </main>
</div>
